<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANzMyOxhlvV4OJuIiQmbqpn4y8gCq3JGw</string>
	<key>GCM_SENDER_ID</key>
	<string>682684468871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kingdomimpactventures.kis</string>
	<key>PROJECT_ID</key>
	<string>kingdom-impact-social</string>
	<key>STORAGE_BUCKET</key>
	<string>kingdom-impact-social.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:682684468871:ios:1fba39bee567d546d7b222</string>
</dict>
</plist>